@import "tailwindcss";

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-multi {
  background: linear-gradient(-45deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4,
    #a1c4fd,
    #c2e9fb,
    #d4fc79,
    #96e6a1
  );
  background-size: 400% 400%;
  animation: gradient-shift ease infinite;
}

.bg-cold-gradient {
  background: linear-gradient(-45deg, #a1c4fd, #c2e9fb, #89f7fe, #66a6ff);
  background-size: 400% 400%;
  animation: gradient-shift 15s ease infinite;
}

.bg-mild-gradient {
  background: linear-gradient(-45deg, #ffecd2, #fcb69f, #fad0c4, #ffdde1);
  background-size: 400% 400%;
  animation: gradient-shift 10s ease infinite;
}

.bg-hot-gradient {
  background: linear-gradient(-45deg, #f83600, #f9d423, #ff9a9e, #fad0c4);
  background-size: 400% 400%;
  animation: gradient-shift 6s ease infinite;
}